<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039596963419-2vs0662bbk2j6d2jiqu4fbh1l499c2su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039596963419-2vs0662bbk2j6d2jiqu4fbh1l499c2su</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1039596963419-iok61pimg2517m7t4277mtjp5hkkuefc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdKz3jUPivLINAzYvRPtvEOMDNsGNTHhY</string>
	<key>GCM_SENDER_ID</key>
	<string>1039596963419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hajeri.amventures</string>
	<key>PROJECT_ID</key>
	<string>hajeri-ed9e1</string>
	<key>STORAGE_BUCKET</key>
	<string>hajeri-ed9e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039596963419:ios:4d96df6e5bcb02140ba17e</string>
	<key>DATABASE_URL</key>
	<string>https://hajeri-ed9e1.firebaseio.com</string>
</dict>
</plist>